/*style*/
* {
  box-sizing: border-box;
}

body {
  background-image: url('../img/light_toast.png');
  background-repeat: repeat;
}

.clearfix {
  content: "";
  clear: both;
  display: table;
}

.container {
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
}

header img {
  float: left;
  width: 25%;
}

nav {
  float: right;
  width: 80%;
}
